html,body{
  height: auto;
}
body{
  background: #e7eeef;
}
.head{
  background: #272343;
  padding: 3%;
}
.head h2{
  color: #bae8e8;
  text-shadow: 5px 5px 3px black;
  font-size: 300%;
}
img{
  width: 100px;
  height:150px;
  text-align: center;

}
.child{
  display: flex;
  width: 50%;
}
.footer{
  margin-top:20px;
}
.head{
  display: flex;
  justify-content: space-around;
  background: #272343;
  padding: 3%;

}
.head h2{

  flex-grow: 2;
  align-self: center;
  text-align: left;
}
h3{
  font-family: 'Abril Fatface', cursive;
  color:#fff78f;
  padding-top: 20px;
}
.content{
  background:#272343 ;
  margin-top: 3%;
  margin-bottom: 7%;
  color: #96f7d2;
  border-radius: 1rem;
}
th,td{
  padding: 12px;
}
