html,body{
  height: 100%;
}
body{
  background: #e7eeef;

}
.head{
  background: #272343;

  padding: 3%;
}
.content{
  margin-top: 3%;

}
.left{
  visibility: hidden;
}
.left.active{
  visibility: visible;
}
.right.active{
  visibility: visible;

}
input#marks{
  visibility: hidden;
  
  
}
.right{
  visibility: hidden;
}
.container.content{
    counter-reset: saad;
}
.question{
counter-increment: saad;
  font-size: 20px;
  font-weight: 400;


}
.inputs{
  cursor: pointer;
}
/* .question::before{

  content:counter(saad) ") ";
  height: 20px;
  position: absolute;
  color: red;
  left: 5%;
} */

input[type="radio"]{
content: "";
top: 0;
left: 0;
cursor: pointer;
right: 0;
bottom: 0;
position: absolute;
/* height: 20px; */
width: 100%;
/* background: red; */
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
input[type="radio"]:checked+label{
  color: #a72693;
  font-family: 'Pacifico', cursive;


}
.question-content{

  color: #0f4c75;
}
input:focus{
  outline: none;
}
.head h2{
  color: #bae8e8;
  text-shadow: 5px 5px 3px black;
  font-size: 300%;
}

.no{
position: absolute;
left: 10%;
font-size: 20px;
}
.content .row{
  position: relative;
margin-top: 2%;
margin-left: 2%;

}
.answers{
  margin-top: 3%;

}
.content .row span{
  position: absolute;
  left: 0%;
}
.content .row p{
  margin-left: 2%;
}
.fa-arrow-left{
  position: absolute;
  left: 5%;
  top: 50%;
  font-size: 40px;
  color:#272343;
}
.fa-arrow-right{
  position: absolute;
  right: 10%;
  font-size: 40px;
  color:#272343;
  top: 50%;
}
.buttons button{
  position: absolute;
  left: 45%;
  bottom: 20%;
  color: #bae8e8;
  background-color: #272343;
  border: none;
  padding: 0.5% 1%;

}
.counter{
  position: fixed;
  bottom: 1%;
  width: 100px;
  border-radius: 1rem;
  background:#ff6f5e ;
  right: 5%;
}
.counter p{
  font-size: 20px;
  text-align: center;
  margin: 0px;
  color:#f5f0e3 ;


}