html,body{
  height: 100%;
}
body{
  background: #e7eeef;
}
.head{
  background: #272343;
  padding: 3%;
}
img{
  width: 100px;
  height:150px;
  text-align: center;

}
.child{
  display: flex;
  width: 50%;
}
.head{
  display: flex;
  justify-content: space-around;
  background: #272343;
  padding: 3%;

}
.head h2{

  flex-grow: 2;
  align-self: center;
  text-align: left;
}
#editor{
  width: 100%;
  height: 500px;
  background: white;
  border: 1px solid grey;
}
.runbutton{
  flex-grow: 1;
  margin-left: 2%;
}
.ace_gutter-layer{
  background: #272343;
}
.ace_gutter-cell{
  color: #bae8e8;
}
.input-program{
display: flex;
  background: #e7eeef;
  margin-left: 4%;
  padding-bottom: 1%;

}

.input-program button{
  padding: 0px 2%;
 background:  #272343;
 border: 1px solid #bae8e8;
 color: #bae8e8;
}
.editwrap{
  padding: 1%;
  background: #e7eeef;
  padding-top: 0px;
}
.output{
  padding: 1%;
  margin-left: 2%;
}
.output div{
  padding: 1%;
  background: #272343;
  color: #bae8e8;
}
.head h2{
  color: #bae8e8;
  text-shadow: 5px 5px 3px black;
  font-size: 300%;
}
.question-heading h4{
  margin-left: 5%;
  padding: 1% 0%;
  font-size: 210%;
  color: #0f4c75;
}
.questions h4{
background: white;

  margin-top: 0%;
  margin-left: 0%;
  margin-bottom: 4%;
}
.input{
  background: #272343;
 padding: 1% 5%;
}
.input p{
  color: #bae8e8;
}
.desc{
  padding-top: 2%;
}
.desc p{
  font-size: 22px;
}
.questions {
  padding: 0 5%;
  background-color: #e7eeef;
  height: auto;
  padding-bottom: 2%;
}
.tabs ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0px;
  padding-left: 45px;
  margin-left: 10px;
}

.tabs ul li{
  flex-grow: 1;
  border:1px solid black;
  padding: 1%;
  background: #272343;
  cursor:pointer;
  color: #bae8e8;
}
.tabs a{
  
  text-decoration: none;
  
}

.tabs ul li:hover{
  background: #274b8f7c;
  color: #bae8e8;
  
}
.tabs ul li.active{
  background: #274b8f7c;
}
.tabs{

  width: 40%;
}
.counter{
  position: fixed;
  bottom: 1%;
  width: 100px;
  border-radius: 1rem;
  background:#ff6f5e ;
  right: 5%;
}
.counter p{
  font-size: 20px;
  text-align: center;
  margin: 0px;
  color:#f5f0e3 ;


}
.winning p{
  display: none;
  color: limegreen;
  font-weight: 600;
}
.winning p.active{
  display: block;
}