html,body{
  height: 100%;
}
body{
  background: #e7eeef;
}
.head{
  background: #272343;
  padding: 3%;
}
.head h2{
  color: #bae8e8;
  text-shadow: 5px 5px 3px black;
  font-size: 300%;
}
img{
  width: 100px;
  height:150px;
  text-align: center;

}
.child{
  display: flex;
  width: 50%;
}
.head{
  display: flex;
  justify-content: space-around;
  background: #272343;
  padding: 3%;

}
.head h2{

  flex-grow: 2;
  align-self: center;
  text-align: left;
}
.result{
  background: white;
  width: 50%;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  /* box-shadow: 0 2px 5px 3px black; */
  border-radius: 1rem;
  margin-top:50px;
  transform: translate(-50%,-40%);
}
.active{
  box-shadow: 0px 7px 5px  green;
}
.passive{
  box-shadow: 0px 7px 5px  red;
}
.result h4{
  margin-top: 3%;
  color:#272343;
  font-family: 'Pacifico', cursive;
font-size: 30px;

}
.line{
  width: 100%;
  height: 1px;
  background: grey;
  margin: 0px;
}
.result p{
  font-size: 20px;

}
.row div{
  padding-top: 4%;
  height: 333px;
}
.row div > p{
  margin: 30px 0px;
  font-family: 'Montserrat', sans-serif;
}
.question-column{
  border-right: 1px solid black;

}
.content-footer{
  margin-top: 3%;
  padding-bottom: 5%;
}
.content-footer p{
  margin-bottom: 5%;
  font-family: 'Montserrat', sans-serif;
}
.content-footer a{

  margin-left: 40%;
  color: green;
  text-decoration: none;
  border-radius: 1rem;
  border: 1px solid green;
  padding: 10px 50px;
}
.content-footer a:hover{
  color: white;
  background-color: green;
  border: 1px solid white;
}
.counter{
  position: fixed;
  bottom: 1%;
  width: 100px;
  border-radius: 1rem;
  background:#ff6f5e ;
  right: 5%;
}
.counter p{
  font-size: 20px;
  text-align: center;
  margin: 0px;
  color:#f5f0e3 ;


}
